# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# image
*.jpeg
*.JPEG

# java
*.class

# Package Files #
*.jar
*.war
*.ear

# image feature
*.feature
